$white: #fff;

$pink: #ff6762;
$green: #47bf5c;
$grey: #606e77;
$light-grey: #9ba7ae;
$dark-grey: #37393b;
$silver: #74777a;


$arials: Arial, sans-serif;

$sans: 'Open Sans', sans-serif;
$abeat: "AbeatbyKa", sans-serif;