@import "../../bourbon/_bourbon.scss";

@import '../base/fonts.scss';
@import '../base/mixins.scss';
@import '../base/variables.scss';
@import '../base/baseelements.scss';

@media screen and (max-width: 767px) {
	.container {
		width: 100%;
		text-align: center;

	} 
	header {
		color: $white;
		position: relative;
		max-height: 511px;
		overflow: hidden;
		.img-responsive {
			display: inline-block;
			width: 100%;
			height: auto;
		}
		h1 {
			font-family: $sans;
			font-weight: 500;
			font-size: 29px;
			margin: 40px 0 0;
			padding: 0;
			line-height: 36px;
		}
		.header-text {
			margin-top: 28px;
			margin-bottom: 43px;
			p {
				font-family: $sans;
				font-size: 14px;
				line-height: 17px;
				font-weight: 500;
				margin-top: 19px;
			}
		}
		span {
			font-family: $sans;
			font-size: 15px;
		}
		.arrow {
			display: block;
			height: 30px;
		}
		.header-content {
			position: absolute;
			top: 0;
			left: 0;
			padding: 20px;
		}
	}

	.logo {
		margin-top: 7px;
		a {
			color: $white;
			text-decoration: none;
			font-family: $abeat;
			font-size: 25px;
			margin-right: 12px;
		}
		img {
			display: inline-block;
			margin-right: 10px;
		}
		.log {
			display: inline-block;
			vertical-align: top;
			margin-top: 7px;
			font-size: 25px;
			font-family: $abeat;
		}
	}

	main {
		color: $light-grey;
		h2 {
			color: $grey;
			font-family: $sans;
			font-weight: 500;
			font-size: 22px;
			margin-top: 22px;
			margin-bottom: 0;

		}
		h3 {
			color: $pink;
			font-family: $sans;
			position: relative;
			text-align: center;
			font-size: 18px;
    		font-weight: 600;
    		margin-top: 40px;
			&.clock {
				&:before {
					content: "";
					background: url("../img/clock.png") 0 0 no-repeat;
					width: 30px;
					height: 36px;
					display: block;
					margin: 28px auto;
				}
			}
			&.euro {
				&:before {
					content: "";
					background: url("../img/euro.png") 0 0 no-repeat;
					width: 35px;
					height: 35px;
					display: block;
					margin: 28px auto 22px;
				}
			}
			&.lightening {
				&:before {
					content: "";
					background: url("../img/lightening.png") 0 0 no-repeat;
					width: 35px;
					height: 35px;
					display: block;
					margin: 28px auto 22px;
				}
			}
			&.sun {
				&:before {
					content: "";
					background: url("../img/sun.png") 0 0 no-repeat;
					width: 35px;
					height: 35px;
					display: block;
					margin: 28px auto 22px;
				}
				+p {
					margin-bottom: 0;
				}
			}
		}
		p {
			font-family: $sans;
			font-size: 14px;
			padding: 0px 18px;
			margin-top: 26px;
			font-weight: 500;
			line-height: 25px;

		}
	}

	.middle-section {
		background: #ff4e69;
		color: $white;
		padding: 10px 5px 0;
		margin-top: 60px;
		h2 {
			color: $white;
		}
		img {
			display: block;
			margin: 0 auto;
		}
		.btn {
			color: $white;
			display: inline-block;
			text-decoration: none;
			@include border-radius(4px);
			border: 2px solid $white;
			padding: 25px 5px;
			width: 85%;
			margin: 40px 0 54px;
			font-family: $sans;
   			font-weight: 600;
   			font-size: 18px;
		}
		p {
			margin-top: 45px;
			margin-bottom: 0;
			padding: 0;
			+ p {
				margin-top: 0;
			}
		}
	}

	.brands {
		padding: 25px 5px 5px;
		h2 {
			text-align: center;
			margin-bottom: 20px;
		}
		a {
			color: $light-grey;
			text-decoration: none;
		}
		ul {
			@include clearfix;
			list-style-type: none;
			padding: 0;
			margin: 0;
			display: inline-block;
			li {
				display: block;
				margin: 8px;
				float: left;
			}
			li:nth-child(3n+1) {
			    clear: left;
			}
		}
		p {
			text-align: left;
			margin: 15px 0 5px;
			padding: 0;
		}
		a.link {
			display: block;
			text-decoration: underline;
			font-weight: bold;
			text-align: left;
			font-family: $sans;
			font-size: 14px;
			font-weight: 600;
			padding: 0;
		}
	}

	.earnings {
		background: #44bd5c; /* Old browsers */
		background: -moz-linear-gradient(left,  #44bd5c 0%, #62cf62 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  #44bd5c 0%,#62cf62 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  #44bd5c 0%,#62cf62 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44bd5c', endColorstr='#62cf62',GradientType=1 ); /* IE6-9 */
		color: $white;
		padding: 20px;
		text-align: center;
		margin-top: 55px;
		h2 {
			color: $white;
		}
	}

	.content-logos {
		padding: 20px 0 30px;
		ul {
			display: inline-block;
			list-style-type: none;
			text-align: center;
			padding: 0;
			margin: 10px 0;
			li {
				padding: 6px 0;
				&:first-child {
					padding-top: 0;
				}
			}
		}
	}
	
	footer {
		background: $dark-grey;
		color: $silver;
		position: absolute;
	    left: 0;
	    bottom: 0;
	    height: 104px;
	    width: 100%;
	    padding-top: 26px;
	    text-align: center;
	    .logo {
	    	img {
	    		margin: 0;
	    	}
	    }
	    p {
	    	font-family: $sans;
	    	font-size: 14px;
    		font-weight: 500;
    		margin-top: 20px;
	    }
	}
}